body{
    background: rgb(70, 142, 236);
    font: normal 15pt Arial;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384) ;
}

header{
    color: white;
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

button{
    border-color:#46a7f5;
    background:linear-gradient(to bottom, #86c6f8 5%, #46a7f5 100%);
    box-shadow:inset 0px 1px 0px 0px #d7ecfd;
    font: bold 12pt Arial;
    color:#fff;
    text-shadow:0px 1px 0px #528009;
}

.tela01{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    margin-left: 100px;
}

.bordaSimples{
    border-collapse: collapse;    
    background: #FFFFF0;
}

.bordaSimples td{
    border: 1px solid black;
}

.bordaSimples th{
    border: 1px solid black;
    background: #F0FFF0;
}

#btnEncerrar{
    margin-left: 250px;
    margin-right: 10px;
}

#btnVender{
    margin-left: 40px;
}

div{
    padding: 10px;
}

#iptQuantidade{
    width: 40px;
}

#dvVenda{
    margin-left: 60px;
}